<!DOCTYPE html>
<html>
<head>
	<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
	<title>Welcome Page</title>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#test").click(function(){
				$("#output").val('Loading!!!');
				$.get('test',function(data){
					$('#output').val(data);
				})
			})
		})
	</script>
</head>
<body>
		<h2>Hello World!</h2>
		<h3>Welcome to our Page</h3>
		<a href="test">Test Hyperlink</a>
		<br><button id="test">Test</button><br>
		<textarea id="output"></textarea><br>
</body>
</html>