<!DOCTYPE html>
<html>
<head>
	<title>Kitsune</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script	src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

</head>
<body>
	<div class="row">
  		<div class="col s12" style="text-align: left;background-color: darkblue; color: white">
    		<a href="main" style="color:white">Main </a> |
    		<a href="results" style="color:white">Results </a> |
	        <a href="kitsune" style="color:white">Kitsune </a> |
  		</div>
  		<div class="col s12" style="text-align: left; background-color: gold;">
    		<h4>Kitsune</h4>
  		</div>
	</div>
	<div class= "row">
		<div class="col s6">
			<p style="text-align: justify;">
				Kitsune is a novel ANN-based NIDS which is online, unsupervised, and efficient. A Kitsune, in Japanese folklore, is a mythical fox-like creature that has a number of tails, can mimic different forms, and whose strength increases with experience. Similarly, Kitsune has an ensemble of small neural networks (autoencoders), which are trained to mimic (reconstruct) network traffic patterns, and whose performance incrementally improves overtime.<br>
				Some points about KitNET:
			<ol>
				<li>It is completely plug-and-play.</li>
				<li>It is based on an unsupervised machine learning algorithm</li>
			</ol>
			</p>
		</div>
		<div class="col s6">
			<img src="/static/Kitsune_fig.png" alt="Kitsune Architecture" width="100%">
			<p style="text-align: center;">Kitsune Architecture</p>
		</div>
	</div>
	<div class="col s12" style="text-align: left;">
		<h4><mark>Result</mark></h4>
	</div>
	<div class="row">
		<div class="col s12" style="text-align: center;">
			<img src="/static/kitsune_result.png"/ width="70%">
		</div>
	</div>
</body>